service: diagnose-alzheimer
frameworkVersion: '2'

provider:
  name: aws
  region: eu-central-1
  lambdaHashingVersion: 20201221
  stage: dev
  memorySize: 2048,
  timeout: 30
  ecr:
    scanOnPush: true
    images:
      alzai_api:
        path: ./
        file: Dockerfile
functions:
  predict:
    image:
      name: alzai_api
      command:
        - app.predict
      entryPoint:
          - '/lambda-entrypoint.sh'
      enviroment:
        BUCKET_NAME: diagnose-alzheimer-bucket
        MODEL_FILE_PATH: outs/model.h5
        MODEL_LOCAL_FILE_PATH: tmp/outs/model.h5
    events:
      - http:
          path: /predict
          method: get