service: diagnose-alzheimer
frameworkVersion: '2'

provider:
  name: aws
  region: eu-central-1
  lambdaHashingVersion: 20201221
  stage: dev
  memorySize: 2048
  timeout: 30
  ecr:
    scanOnPush: true
    images:
      alzai_api:
        path: ./
        file: Dockerfile
  iam:
    role:
      statements:
        - Effect: 'Allow'
          Action:
            - s3:GetObject
          Resource:
            - "arn:aws:s3:::diagnose-alzheimer-bucket/*"
functions:
  predict:
    image:
      name: alzai_api
      command:
        - app.predict
      entryPoint:
          - '/lambda-entrypoint.sh'
    events:
      - http:
          path: /predict
          method: post
          cors: true
resources:
  Resources:
    GatewayResponseDefault4XX:
        Type: AWS::ApiGateway::GatewayResponse
        Properties:
            ResponseParameters:
              gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
              gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
            ResponseType: DEFAULT_4XX
            RestApiId:
              Ref: ApiGatewayRestApi